{% extends 'back/base.html.twig' %}
{% trans_default_domain 'town' %}
{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{'town.createTownAction.newTown'|trans}}</h6>
        </div>
        <div class="card-body">
            {{ form(form) }}
            <div class="col-lg-8 col-lg-offset-1 well">
                <a href="{{ path('town_list') }}" class="btn btn-light">&laquo; {{'common.back'|trans({},'messages')}}</a>
            </div>
        </div>

    </div>
{% endblock %}
